.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin: 0 auto;
}

.github_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00000050;
  border-radius: 20px;
  box-shadow: 1px 2px 5px 3px #00000025;
  padding: .25rem .5rem;
  background-color: white;
  margin: 2rem 0;
  font-family: 'Roboto', sans-serif;
  
}

.github_button span {
  margin-left: .4rem;
}

.main h1 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.main p {
  margin-bottom: 2rem;
}

.info_container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.info_container span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, 0.76);
  padding: .3rem .66rem;
  border: none;
  outline: none;
  border-radius: 100%;
  margin-right: .5rem;
}

.textbox {
  width: 90vw;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.519);
  
}

.dropdown {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.519);

}

.response_button {
  margin-top: 1rem;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: black;
  color: rgba(255, 255, 255, 0.882);
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
}

.response_box {
  margin-top: 2rem;
}

.response_box p {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0px 15px 15px -10px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.219);

}

.single_response {
  cursor: pointer;
}

.footer_box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid lightgrey;
  width: 100vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.919);
}

.footer_box h5 {
  margin-top: 1rem;
  font-weight: 300;
}

.footer_box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_box li {
  list-style-type: none;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}